.nav-section{
    display: flex;
    gap: 5rem;
    max-width:1280px ;
    margin: 10px auto;
}

.search-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:1280px ;
    margin: 20px auto;
}


