
.nav-container{
    display: flex;
    gap: 2rem;

}
.nav-menu{
    margin-top: 10px;
}

.nav-menu-item {
    text-decoration: none; 
    color: #000;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;  
    padding-bottom: 1rem; 
    gap: 4px;
}
.nav-menu-item:hover{
    color: #55AF22;
    font-weight: 500;
}

.nav-menu-option{
    position: absolute;
    margin-top: 0rem;
}

.nav-menu-icon {
    transition: ease-in-out 0.3s; 
}

.nav-menu-item:hover .nav-menu-icon {
    transform: rotate(180deg);
    transition-duration: 0.3s; 
    color: #55AF22;
}

.nav-menu-item:not(:hover) .nav-menu-icon {
    transition-duration: 0.3s; 
}
