.logo-container{
    display: flex;
    align-items: center;
    gap: 2px;
}
.logo-container-img{
    height: 2rem;
    width: 2rem;
    box-shadow: 1px 1px 5px 3px #ece8e89b;
}

.logo-name{
    width: 16rem;
}