.Container {
    max-width: 1280px;
    margin: auto;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 1rem;
}


.ProductList{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color: #887076;
    font-size: 15px;
}

.ProductList>*:hover{
    color: #55AF22;
    cursor: pointer;
}

.Container>div>h5{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 1rem;
}

@media screen and (max-width:990px) {
    .Container{
        flex-direction: column;
    }
}