.btn-alldepartment-container{
    display: flex;
    flex-direction: column;
    position: relative;

}

.btn-alldepartment-btn{
    max-width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid white;
    background-color: green;
    color: white;
    box-shadow: 1px 1px 10px 5px #635b5b9b;
    font-size: 18px;
}

.list-menu-container {
    display: flex;
    position: absolute;
    margin-top: 2rem;
    padding-top: 1rem;
    flex-direction: column;
    max-width: fit-content;
    text-decoration: none;
    border: 1px solid #383333ba;

}

.list-menu-container>*{
    text-decoration: none;
    color: black;
}



