 .container{
    position: relative;
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 4rem 5rem;
    color: white;
    transition: all 1s ease-in-out; 

}



.imgContent>h1{
    
    color: black;
    font-size: 30px;
    transition: color 2s ease-in-out, font-size 1s ease-in-out
}

.imgContentPara{
    max-width: 40rem;
    font-size: 18px;
    color: #726a6a;
}
.imgContent>button{
    cursor: pointer;
    background-color: #000000;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 3rem;
    font-weight: 500;
}

.imgContent>button:hover{
   
    background-color: #55AF22;
}
.discount{
    background-color: #e7bc43;
    color: rgb(46, 33, 33);
    width: fit-content;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;

} 


@media screen and (max-width:720px) {
    .container{
        padding: 5rem 1rem;
    }
}