.hero-container{
    margin-top: 1rem;
    position: relative;
}
.hero-img-container{
    position: relative;
}
.hero-img{
    border-radius: 10px;
    position: absolute;
    z-index: -10;
    width: 100%;
    height:36rem;
}

.hero-img-content{
    position: absolute;
    z-index: -10;
    top: 10rem;
    left:5%;
}

.hero-img-content>h1{
    width: 25rem;
    font-size: 50px;
}
.hero-img-content-para{
    width: 40rem;
    font-size: 18px;
    color: #726a6a;
}
.hero-img-content>button{
    cursor: pointer;
    background-color: #000000;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 3rem;
    font-weight: 500;
}

.hero-img-content>button:hover{
   
    background-color: #917575;
}
.hero-discount{
    background-color: #e7bc43;
    color: rgb(46, 33, 33);
    width: fit-content;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;

}