.container{
    display: flex;
    gap: 0.5rem;
    border-radius: 8px;
    width: 100%;
    box-shadow: 1px 1px 10px 1px #5a5858;
     z-index: 10;
    background-color: white; 
}

.megaMenuList{
    display: flex;
    flex-direction: column;
    word-break: keep-all;
    font-size: 14px;
    padding: 5px 10px;
}

.megaMenuList>*{
  text-decoration: none;
  padding: 5px 10px;
  color: #5a5858;
}

.megaMenuList>*:first-child{
    color: #55AF22;
    font-weight: bold;
}

.megaMenuList a:hover {
    color: black;
    background-color: #ece5e5;
    padding: 5px 10px;
    border-radius: 5px;
}


/* animation */
.container {
    animation: fadeInFromBottom ease 0.2s forwards;
}

@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}